language: node_js
node_js:
- "9"

cache:
  directories:
  - node_modules

stages:
  - deploy

deploy:
  - provider: script
    script: "bash build_em_all.sh"
    skip_cleanup: true
  - provider: pages
    skip-cleanup: true
    local-dir: "documentation"
    github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
    keep-history: true
    on:
      branch: master
